<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div class="form-group">
        <label class="lb-md" for="text1">Enter text:</label>
        <input type="text" class="form-control" id="text1" name="text1" placeholder="Enter Text" value="{{enteredText}}">
      </div>
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-1">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="form-group hidden" id="listOfwords">
        <h3>The words used so far are :</h3>
        <ul style="list-style-type:none">
        </ul> 
      </div>
    </form>
  </div>
</div>